<header class="py-3 mb-4 border-bottom">
  <div class="container d-flex flex-wrap justify-content-center">
    <a href="/imgfordark" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-decoration-none">
      <span class="fs-2 fw-bold" id="title">투명 이미지 제작소</span>
    </a>
  </div>
</header>