<div class="container px-0 pt-3 my-5 text-center border-bottom">
  <h2 class="display-4 fw-bold fs-3 mb-4">여긴 뭐하는 곳인가요?</h2>
  <div class="col-9 mx-auto">
    <p class="lead mb-5">
      다크모드에서만 보이는 이미지를 만들어 줍니다.
    </p>
    <h2 class="display-4 fs-5 mb-3">예시)</h2>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5 vstack">
      <img src="images/dark-sample.jpg" id="darksample-image" class="rounded img-fluid mx-auto" alt="Example">
      <p class="text-muted">image copyrighted to HoYoverse</p>
    </div>
  </div>
</div>